{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/FormStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/img/webappraisal_logo.png">
    <title>Comparables</title>
</head>
<header>
  <div class="container">
      <nav class="navbar navbar-default" style="border: none;">
        <div>
          <a href="/home" class="navbar-brand webappraisal-header">
                  <span style="font-family: 'Raleway', sans-serif; color: darkblue; font-size: 130% ">
                    <img src="../static/img/webappraisal_logo.png" width="52" height="45" class="d-inline-block align-top" alt="">
                    <strong> WebAppraisal</strong>
                  </span>
                </a><br>

          <div class="dropdown pull-right" style="display: flex">
            <button class="btn btn-default dropdown-toggle" style="background-color: transparent; border: none" type="button" id="account-management" data-toggle="dropdown">
              <img src="../static/img/hamburger.png" alt="Account Management" width="30" height="30">
            </button>

            <div class="dropdown-menu" aria-labelledby="account-management">
              <a href="/account-management" class="dropdown-item btn btn-secondary" style="flex: 1">
                <img src="../static/img/person.svg" width="24" height="24" alt=""></img> User Settings
              </a>
              <br>
              <a href="/welcome" class="dropdown-item btn btn-secondary" style="flex: 1">
                <img src="../static/img/sign-out.svg" width="24" height="24" alt=""></img> Log out
              </a>
            </div>
          </div><br>
        </div>
      </nav></div><br>
</header>

<body class="bg-light">
<div class="page-container">
  <div class="container">
    <div class="content content-wrap">
      <h1 class="form-header webappraisal-header">
        <span class="glyphicon glyphicon-transfer" style="-webkit-transform: rotate(180deg);"></span>
        Search for Comparable Houses</h1>
      <hr>
      <form role="search" method="POST">
        {% csrf_token %}
        <div class="row" style="margin-left: 155px">
          {% if errors %}
            <div class="col-md-12">
              <div class="form-group has-error" style="padding: 0; margin: 0">
             <div class="input-group">
{#              <div class="form-group has-error" style="padding: 0; margin: 0">#}
                {% render_field form.zip placeholder=form.zip.label class="form-control" %}
                <div class="input-group-btn" style="padding: 0; margin: 0">
                  <button class="btn btn-default" style="border: 1px solid #963d40 !important;" type="submit" name="search_comps"><i class="glyphicon glyphicon-search"></i></button>
                </div>
             </div>
                <span class="help-block">Enter a zip code in the format XXXXX or XXXXX-XXXX.</span>
              </div>
             </div>
          {% else %}
            <div class="col-md-9">
             <div class="input-group">
                 {% render_field form.zip placeholder=form.zip.label class="form-control center-block capped-input" %}
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" name="search_comps"><i class="glyphicon glyphicon-search"></i></button>
              </div>
             </div>
            </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  <br><br>

 <footer id="webappr-footer" class="small-footer py-4 bg-dark text-white-50" style="position: absolute; bottom: 0; width: 100%">
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</div>

</body>


</html>