{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/homepagestyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Homepage</title>
</head>

<header>
    <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>

<body class="bg-light">
    <section class="jumbotron text-center">
        <div class="container" style="position: absolute">
            <h1 class="jumbotron-heading appraisal-header"><strong>My Appraisals</strong></h1>
        </div>
    </section>

    <div class="container">
        <div>
          {% if role == "APPRAISER" %}
            <a href="/general/new" style="color: black">
              <span class="glyphicon glyphicon-plus-sign"></span>
              <h7 style="font-family: Georgia, serif;">Create new appraisal</h7>
            </a><br>
          {% endif %}
        </div>
        <div class="row">
          {% for house in houses %}
            <div class="col-md-4">
                 <div class="card appraisal-card" style="width: 18rem">
                  {% if role == "APPRAISER" %}
                    <div>
                      <form method="POST" enctype="multipart/form-data" name="img_form" id="img_form">
                        {% csrf_token %}
                        <div style="font-family: Georgia, serif">
                         <label id="img" class="btn btn-link" style="padding: 5px; color: grey;  text-decoration: none">
                           <span class="glyphicon glyphicon-pencil" style="padding: 0; margin: 0;"></span>
                           {{ form.img }}
                           <span style="color: black; font-size: 110%;"> Change Image</span>
                         </label>
                          <button type="submit" name="change_img" hidden></button>
                        </div>
                        <input type="hidden" name="house" id="id_house" value="{{ house.id }}">
                      </form>
                    </div>
                  {% endif %}

                   {% if images|get_item:house.id != None %}
                     <div class="img-wrapper">
                     {% with image=images|get_item:house.id %}
                       <img src="{{ MEDIA_URL }}{{ image.img }}" alt="Image of House" class="card-img-top"/>
                     {% endwith %}
                     </div>
                   {% else %}
                     <img src="https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png" class="card-img-top" alt="Image of House"/>
                   {% endif %}
                    <div class="card-body">
                        <hr><a href="/general/{{ house.id }}" class="card-title" style="font-family: Georgia, serif; font-size: 20px">
                              <span style="color: black">{{ house.street_address }}</span></a>
                        <p class="card-text" style="font-family: Georgia, serif;">Appraisal Status:
                          {% if house.appraisal_status ==  "Not Started"%}
                            <span style="color: darkred">Not Started</span>

                          {% elif house.appraisal_status == "In Progress" %}
                            <span style="color: darkorange">In Progress</span>

                          {% else %}
                             <span style="color: #4CAF50">DONE</span>

                          {% endif %}
                        </p>
                    </div>
                </div>
            </div>
          {% endfor %}

        </div>
    </div>
</body>
<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
<script>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
function submit_form()
{
  document.imgform.submit();
}
</script>

<script>
  $('#change_img').change(function(){
    $('#img_form').submit()
});
</script>

</html>