<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/homepagestyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand">Real Estate Logo</a>
        <div class="dropdown">
            <form method="POST">
                    {% csrf_token %}
				</form>
            <button onclick="myFunction()" class="dropbtn"><img src="../static/img/hamburger.png" width="50" height="50"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="">Account Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>

        </div>
        </button>
    </nav>

    <h1 class="intro">
        Here are your appraisal listings
    </h1>
    <div class="row">
  <div class="column" style="background-color:#4CAF50;"><img src="../static/img/house1.jpg" width="150" height="150">
      <div class="column1"> <h2>Appraisal 1</h2>
    <p>Address</p>
      <p>Price</p>
      <p>Value</p>
      </div>
      <div class="column2">
      </div>

  </div>
  <div class="column" style="background-color:#abd4b2;"><img src="../static/img/house2.jpg" width="150" height="150">
    <div class="column1"> <h2>Appraisal 2</h2>
    <p>Address</p>
      <p>Price</p>
      <p>Value</p>
    </div>
  </div>
  <div class="column" style="background-color:#4CAF50;"><img src="../static/img/house3.jpg" width="150" height="150">
    <div class="column1"> <h2>Appraisal 3</h2>
    <p>Address</p>
      <p>Price</p>
      <p>Value</p>
    </div>
  </div>

</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>
</html>