<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/homepagestyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Homepage</title>
</head>

<header>
    <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>

<body class="bg-light">
    <section class="jumbotron text-center">
        <div class="container" style="position: absolute">
            <h1 class="jumbotron-heading appraisal-header"><strong>My Appraisals</strong></h1>
        </div>
    </section>

    <div class="container">
        <div>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <h7 style="font-family: Georgia, serif;">Create new appraisal</h7><br>
        </div>
        <div class="row">
            <div class="col-md-4">
                 <div class="card appraisal-card" style="width: 18rem">
                    <img src="../static/img/house1.jpg" class="card-img-top" alt="Image of House"/>
                    <div class="card-body">
                        <hr><h5 class="card-title" style="font-family: Georgia, serif;">1234 Main St.</h5>
                        <p class="card-text" style="font-family: Georgia, serif;">Appraisal Status: <span style="color: #4CAF50">DONE</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                 <div class="card appraisal-card" style="width: 18rem">
                    <img src="../static/img/house2.jpg" class="card-img-top" alt="Image of House"/>
                    <div class="card-body">
                        <hr><h5 class="card-title" style="font-family: Georgia, serif;">4321 Side St.</h5>
                        <p class="card-text" style="font-family: Georgia, serif;">Appraisal Status: <span style="color: darkorange">In Progress</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                 <div class="card appraisal-card" style="width: 18rem">
                    <img src="../static/img/house3.jpg" class="card-img-top" alt="Image of House"/>
                    <div class="card-body">
                        <hr><h5 class="card-title" style="font-family: Georgia, serif;">512 Sesame St.</h5>
                        <p class="card-text" style="font-family: Georgia, serif;">Appraisal Status: <span style="color: darkred">Not Started</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>
</html>