<style type='text/css'>

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
}

button:hover {
	opacity:1;
}

.georgia-text {
	font-family: Georgia, serif;
}

.separator {
  margin: 25px 25px 25px 25px;
}



.success-msg {
  text-align:center;
  color: #270;
  background-color: #DFF2BF;
  margin: 25px 25px 25px 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px 3px 3px 3px;
}

.confirm {
  background-color: white;
  visibility = hidden;
  border-radius:10px;
}

.confirmBtn {
  width:51%;
}

.webappraisal-header {
  font-family: Georgia, serif;
  font-size: 50px;
}

.dropdown {
  position: absolute;
  float: right;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #abd4b2;
}

.dropdown {
  position: absolute;
  float: right;
  display: inline-block;
}

.dropdown-text {
  font-family: Georgia, serif;
  font-size: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #abd4b2;}

</style>
























