<style type='text/css'>

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
}

button:hover {
	opacity:1;
}

.georgia-text {
	font-family: Georgia, serif;
}

.separator {
  margin: 25px 25px 25px 25px;
}



.success-msg {
  text-align:center;
  color: #270;
  background-color: #DFF2BF;
  margin: 25px 25px 25px 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px 3px 3px 3px;
}

.confirm {
  background-color: white;
  visibility = hidden;
  border-radius:10px;
}

.confirmBtn {
  width:51%;
}

</style>
























