<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/FormStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Site Information</title>
</head>
<header>
    <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="btn btn-default btn-block text-left">
                                <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>


<body class="bg-light">

    <div class="container">
        <h1 class="form-header webappraisal-header">Site information</h1>
        <hr>

      </div><br><br>

        <form method="POST">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Info</th>
      <th scope="col">Topic</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
          <a data-toggle="tooltip" data-original-title="How we quantify the size of your home">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
</th>
      <td>Dimensions</td>
      <td>--data here--</td>
    </tr>
    <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Site area is the estimate size of the land associated with the home">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Site Area (Sqft.)</td>
      <td>--Data here--</td>
    </tr>
      <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Topography is the physical features of the area your home is on.">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Topography</td>
      <td>--Data here--</td>
    </tr>
      <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Size</td>
      <td>--Data Here--</td>
    </tr>
      <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip  text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Shape</td>
      <td>--Data Here--</td>
    </tr>
        <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>View</td>
      <td>--Data Here--</td>
    </tr>
        <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Landscaping deals with foliage and plant life surrounding the home and property">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Landscaping</td>
      <td>--Data Here--</td>
    </tr>
        <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Driveway Surface</td>
      <td>--Data Here--</td>
    </tr>
        <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="An apparent easement is a self continuing right to
                   cross or otherwise use someones land for a specified purpose.  An easement can be enjoyed without an act on the part of the person entitled thereto.
                   I.E: a stream, sidewalk, a paved trail, etc.">

  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Apparent easements</td>
      <td>--Data Here--</td>
    </tr>
        <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Drainage</td>
      <td>--Data Here--</td>
    </tr>
        <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Specific Zone</td>
      <td>--Data Here--</td>
    </tr>
          <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>FEMA Zone</td>
      <td>--Data Here--</td>
    </tr>
          <tr>
      <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>FEMA Map no.</td>
      <td>--Data Here--</td>
    </tr>

  <!--start of true false in table-->

        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Corner Lot</td>
      <td>--True or False--</td>
    </tr>
        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Public Electric</td>
      <td>--True or False--</td>
    </tr>
        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Public Gas</td>
      <td>--True or False--</td>
    </tr>
        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Public Water</td>
      <td>--True or False--</td>
    </tr>
        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Public Sanitary Sewer</td>
      <td>--True or False--</td>
    </tr>
        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>Public Storm Sewer</td>
      <td>--True or False--</td>
    </tr>
        <th scope="row">
                   <a data-toggle="tooltip" data-original-title="Tooltip text goes here">
  <span class="glyphicon glyphicon-info-sign"></span>
</a>
      </th>
      <td>FEMA Flood Hazard</td>
      <td>--True or False--</td>
    </tr>




  </tbody>
</table>
<hr>

</form>
</div>
</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
<script>
  $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
</script>
</html>