<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/FormStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Description Improvements</title>
</head>
<header>
      <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="btn btn-default btn-block text-left">
                                <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>
<body class="bg-light">

<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
      Open Navigation Menu
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Appraisal Pages</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../amenities">Amenities</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../basement">Basement</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../comments">Comments</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">Foundation</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">General</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../description-improvements">Improvements</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../kitchen">Kitchen</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../materials-conditions">Materials and Conditions</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../neighborhood/{{ house_id }}">Neighborhood</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../offsite-information">Offsite Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../property-information/{{ house_id }}">Property Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">Rooms</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../site">Site Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../utilities">Utilities</a>
              </div>
              <div class="form-group col-md-4">

              </div>
            </div>
            &nbsp
          </div>
        </div>
      </div>
    </div>

<div class="container">
        <h1 class="form-header webappraisal-header">Description of Improvements</h1>
        <hr>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Details</th>
          </tr>
        </thead>

        <tbody>

        <tr>
            <td>Design Style</td>
            <td>
              {% if descriptionofimprovements != "empty" %}
                {{  descriptionofimprovements.design_style|default_if_none:""}}
              {% endif %}
            </td>
        </tr>

        <tr>
            <td>Age (Years)</td>
        <td>
            {% if descriptionofimprovements != "empty" %}
                {{ descriptionofimprovements.age|default_if_none:""}}
            {% endif %}
        </td>
        </tr>

        <tr>
            <td>Effective Age</td>
        <td>
            {% if descriptionofimprovements != "empty" %}
                {{ descriptionofimprovements.effective_age|default_if_none:""}}
            {% endif %}
        </td>
        </tr>

        <tr>
            <td>Walls</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.walls|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Roof Surface</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.roof_surface|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Gutter Downspouts</td>
            <td>
             {% if descriptionofimprovements != "empty" %}
                {{ descriptionofimprovements.gutters_downspouts|default_if_none:""}}
             {% endif %}
            </td>
        </tr>

        <tr>
            <td>Window Type</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.win_type|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Storm Screens</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.storm_screens|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>
    <br>

    <h1 class="form-header webappraisal-header">Insulation</h1>
        <hr>
    <table class="table table-striped">

        <thead>
         <tr>
            <th scope="col">Category</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>Roof</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ DescriptionOfImprovements.roof_insulation|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Ceiling</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.ceiling_insulation|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Walls</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.walls_insulation|default_if_none:""}}
                {% endif %}
            </td>
        <tr>

        <tr>
            <td>Floor</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.floor_insulation|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>None</td>
            <td>
                {% if descriptionofimprovements != "empty" %}
                    {{ descriptionofimprovements.none_insulation|default_if_none:""}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                Additional Comments
             <a data-toggle="tooltip"
                   data-original-title="This is where your appraiser can post any general comments about the description of improvements for you to see">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a></td>
        <td>{{ descriptionofimprovements.comment|default_if_none:""}}</td>
        </tr>

        </tbody>
    </table>
</div><br><br>

</body>
<body>
 <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
</html>