<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/FormStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Site Information</title>
</head>
<header>
    <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="btn btn-default btn-block text-left">
                                <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>


<body class="bg-light">

    <div class="container">
        <h1 class="form-header webappraisal-header">Amenities</h1>
        <hr>

      <div class="btn-group" role="group">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Navigate Pages >
          </button>
          <div class="dropdown-menu">
            <a class="btn btn-secondary" href="../neighborhood/">Neighborhood</a>
            <a class="btn btn-secondary" href="../property-information/">Property Information</a>
            <a class="btn btn-secondary" href="../description-improvements/">Improvements</a>
            <a class="btn btn-secondary" href="../site/">Sites</a>
            <br>
            <a class="btn btn-secondary disabled" href="../comments/">Comments</a>
            <a class="btn btn-secondary" href="../general/">General</a>
          </div>
        </div>
      </div><br><br>

        <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_pool_name">Pool</label>
                <input id="id_pool_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_fireplace_name">Fireplace</label>
                <input id="id_fireplace_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_patio_name">Patio</label>
                <input id="id_patio_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_deck_name">Deck</label>
                <input id="id_deck_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_porch_name">Porch</label>
                <input id="id_porch_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_fence_name">Fence</label>
                <input id="id_fence_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_garage_name">Garage</label>
                <input id="id_garage_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_basement_name">Basement</label>
                <input id="id_basement_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_attic_name">Attic</label>
                <input id="id_attic_name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-floating col-md-12 additional-comments">
            <label for="comments">Additional Comments</label>
            <textarea class="form-control" placeholder="Leave any other notes here" id="comments"></textarea>
        </div>
<br><br><hr>

        <button class="btn btn-primary btn-md form-submit-btn" type="submit">Save changes</button><br><br><br>


<!-- Use this space to create form-->



</form>
</div>
</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
</html>