{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/FormStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

  <title>Neighborhood</title>
</head>
<body>

<header>
  <div class="container">
    <br>
    <nav class="navbar navbar-default">
      <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
      <div class="dropdown">
        <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
          <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
        </button>
        <ul class="dropdown-menu" aria-labelledby="account-management">
          <li>
            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
              <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
            </a>
          </li>
          <li>
            <a href="/welcome" class="btn btn-default btn-block text-left">
              <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body class="bg-light">
    <div class="container">

  <h2 class="form-header webappraisal-header">Neighborhood</h2>

  <div class="btn-group" role="group">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Navigate Pages >
      </button>
      <div class="dropdown-menu">
        <a class="btn btn-secondary" href="../neighborhood/">Neighborhood</a>
        <a class="btn btn-secondary" href="../property-information/">Property Information</a>
        <a class="btn btn-secondary" href="../description-improvements/">Improvements</a>
        <a class="btn btn-secondary disabled" href="../site/">Sites</a>
        <br>
        <a class="btn btn-secondary disabled" href="../comments/">Comments</a>
        <a class="btn btn-secondary disabled" href="../general/">General</a>
      </div>
    </div>
  </div>


  <hr>
        <form method="POST">
            {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id_neighborhood_name">Neighborhood Name</label>
                {% render_field form.name placeholder=form.name.label class="form-control"%}
            </div>
            <div class="form-group col-md-6">
                <label for="id_location">Location</label>
                {% render_field form.location placeholder=form.location.label class="form-control"%}
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="id_property_value">Property Value</label>
            {% render_field form.property_value placeholder=form.property_value.label class="form-control"%}
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_growth_rate">Growth Rate</label>
                {% render_field form.growth_rate placeholder=form.growth_rate.label class="form-control"%}
            </div>
            <div class="form-group col-md-6">
                <label for="id_demand_supply">Supply/Demand</label>
                {% render_field form.demand_supply placeholder=form.demand_supply.label class="form-control"%}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_built_up">Built Up</label>
              {% render_field form.built_up placeholder=form.built_up.label class="form-control"%}
            </div>
        </div>

        <div class="form-floating col-md-12 additional-comments">
            <label for="marketabilty_factors">Marketability Factors</label>
            {% render_field form.marketability_factors placeholder=form.marketability_factors.label class="form-control" type="text"%}
        </div>

            <div class="form-floating col-md-12 additional-comments">
            <label for="market_conditions">Market Conditions</label>
            {% render_field form.market_conditions placeholder=form.market_conditions.label class="form-control" type="text"%}
        </div>


        <div class="form-floating col-md-12 additional-comments">
            <label for="additional_comments">Additional Comments</label>
            <{% render_field form.comments placeholder=form.comments.label class="form-control" type="text"%}
        </div>

        <br><br><hr>

        <button class="btn btn-primary btn-md form-submit-btn" name="submit_neighborhood_info" type="submit">Save changes</button>
            <br><br>
    </form>
    </div>

</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>

</html>