<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/FormStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

  <title>Offsite Information</title>

</head>

<header>
  <div class="container">
    <br>
    <nav class="navbar navbar-default">
      <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
      <div class="dropdown">
        <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
          <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
        </button>
        <ul class="dropdown-menu" aria-labelledby="account-management">
          <li>
            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
              <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
            </a>
          </li>
          <li>
            <a href="/welcome" class="btn btn-default btn-block text-left">
              <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body class="bg-light">
    <div class="container">
        <h2 class="form-header webappraisal-header">Offsite Information</h2>
        <hr>

        <form method="POST">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="street_notes">Street Notes</label>
                    <input id="street_notes" type="text" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="street_access">Street Access</label>
                    <select id="street_access" class="form-control">
                      <option selected>Select...</option>
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                      <option value="neither">Neither</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="sidewalk_notes">Sidewalk Notes</label>
                    <input id="sidewalk_notes" type="text" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="sidewalk_access">Sidewalk Access</label>
                    <select id="sidewalk_access" class="form-control">
                      <option selected>Select...</option>
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                      <option value="neither">Neither</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="curb_notes">Curb Notes</label>
                    <input id="curb_notes" type="text" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="curb_access">Street Access</label>
                    <select id="curb_access" class="form-control">
                      <option selected>Select...</option>
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                      <option value="neither">Neither</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="streetlight_notes">Streetlight Notes</label>
                    <input id="streetlight_notes" type="text" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="streetlight_access">Streetlight Access</label>
                    <select id="streetlight_access" class="form-control">
                      <option selected>Select...</option>
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                      <option value="neither">Neither</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="alley_notes">Alley Notes</label>
                    <input id="alley_notes" type="text" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="alley_access">Alley Access</label>
                    <select id="alley_access" class="form-control">
                      <option selected>Select...</option>
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                      <option value="neither">Neither</option>
                    </select>
                </div>
            </div>

            <div class="form-floating col-md-12 additional-comments">
                <label for="comments">Additional Comments</label>
                <textarea class="form-control" placeholder="Leave any other notes here" id="comments"></textarea>
            </div>

            <br><br><hr>

            <button class="btn btn-primary btn-md form-submit-btn" type="submit">Save changes</button><br><br><br>
        </form>
    </div>
</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
</html>