{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/FormStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

  <title>Offsite Information</title>
</head>
<body>

<header>
  <div class="container">
    <br>
    <nav class="navbar navbar-default">
      <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
      <div class="dropdown">
        <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
          <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
        </button>
        <ul class="dropdown-menu" aria-labelledby="account-management">
          <li>
            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
              <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
            </a>
          </li>
          <li>
            <a href="/welcome" class="btn btn-default btn-block text-left">
              <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body class="bg-light">
    <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
      Open Navigation Menu
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Appraisal Pages</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../amenities/{{ house_id }}">Amenities</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../basement/{{ house_id }}">Basement</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../comments/{{ house_id }}">Comments</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../foundation/{{ house_id }}">Foundation</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">General</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../description-improvements/{{ house_id }}">Improvements</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../kitchen/{{ house_id }}">Kitchen</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../materials-conditions/{{ house_id }}">Materials and Conditions</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../neighborhood/{{ house_id }}">Neighborhood</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../offsite-information/{{ house_id }}">Offsite Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../property-information/{{ house_id }}">Property Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../rooms/{{ house_id }}">Rooms</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../site/{{ house_id }}">Site Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../utilities/{{ house_id }}">Utilities</a>
              </div>
              <div class="form-group col-md-4">

              </div>
            </div>
            &nbsp
          </div>
        </div>
      </div>
    </div>

  <h2 class="form-header webappraisal-header">Offsite Information</h2>

  <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="offsite_street">Street Access</label>
                    {% render_field form.offsite_street placeholder=form.offsite_street.label class="form-control"%}
                </div>
                <div class="form-group col-md-8">
                    <label for="offsite_street_note">Street Notes</label>
                    {% render_field form.offsite_street_note placeholder=form.offsite_street_note.label class="form-control"%}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="offsite_sidewalk">Sidewalk Access</label>
                    {% render_field form.offsite_sidewalk placeholder=form.offsite_sidewalk.label class="form-control"%}
                </div>
                <div class="form-group col-md-8">
                    <label for="offsite_sidewalk_note">Sidewalk Notes</label>
                    {% render_field form.offsite_sidewalk_note placeholder=form.offsite_sidewalk_note.label class="form-control"%}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="offsite_curb">Curb</label>
                    {% render_field form.offsite_curb placeholder=form.offsite_curb.label class="form-control"%}
                </div>
                <div class="form-group col-md-8">
                    <label for="offsite_curb_note">Curb Notes</label>
                    {% render_field form.offsite_curb_note placeholder=form.offsite_curb_note.label class="form-control"%}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="offsite_streetlights">Street Lights</label>
                    {% render_field form.offsite_streetlights placeholder=form.offsite_streetlights.label class="form-control"%}
                </div>
                <div class="form-group col-md-8">
                    <label for="offsite_streetlight_note">Street Lights Notes</label>
                    {% render_field form.offsite_streetlight_note placeholder=form.offsite_streetlight_note.label class="form-control"%}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="offsite_alley">Alley's</label>
                    {% render_field form.offsite_alley placeholder=form.offsite_alley.label class="form-control"%}
                </div>
                <div class="form-group col-md-8">
                    <label for="offsite_alley_note">Alley Notes</label>
                    {% render_field form.offsite_alley_note placeholder=form.offsite_alley_note.label class="form-control"%}
                </div>
            </div>
            <div class="form-row">
                <div class="form-floating col-md-12 additional-comments">
                    <label for="comments">Additional Comments</label>
                    {% render_field form.comments placeholder=form.comments.label class="form-control" type="text"%}
                </div>
            </div>

            <br><br><hr>

            <button class="btn btn-primary btn-md form-submit-btn" name="submit_offsite_info" type="submit">Save changes</button>
        </form>

      <hr><h2 class="form-header webappraisal-header">Photos</h2><hr>
          <div>
            <form method="POST" enctype="multipart/form-data" name="img_form" id="img_form" style="margin-left: 5px">
              {% csrf_token %}
              <div class="upload-photos" style="font-family: Georgia, serif; font-size: 120%; float: left;">
                <label id="img" class="btn btn-link" style="padding: 0; color: grey; text-decoration: none">
                  <span class="glyphicon glyphicon-cloud-upload" style="padding: 0; margin: 0; font-size: 160%"></span>
                  {{ new_img_form.img }}
                  <span style="color: black; font-size: 130%"> Upload Image</span></label>
              </div>
                <button type="submit" name="change_img" hidden></button>
            </form>
          </div>

            {% if is_mobile %}
              <div>
                  <form method="POST" enctype="multipart/form-data" name="img_form" id="img_form" style="margin-left: 5px">
                  {% csrf_token %}
                  <div class="upload-photos" style="font-family: Georgia, serif; font-size: 120%; padding-left: 5px">
                    <label id="img" class="btn btn-link" style="padding: 0; color: grey; text-decoration: none">
                          <span class="glyphicon glyphicon-camera" style="padding-left: 20px; padding-top: 0; margin: 0; font-size: 160%">     </span>
                      {{ mobile_img_form.img }}
                      <span style="color: black; font-size: 130%">Take a Picture</span></label>
                  </div>
                    <button type="submit" name="change_img" hidden></button>
                </form>
              </div>
            {% endif %}
          <br><br>

        <div class="row">
          {% for form in img_forms %}
              <div class="col-md-4">
                <div>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="img_id" id="id_img_id" value="{{ form.instance.id }}">
                    <div class="card appraisal-card"
                        style="width: 30rem; height: 40rem; background-color: white !important; border-radius: 5px !important; border: black 20px !important;">
                     <div class="img-container">
                      <img src="{{ MEDIA_URL }}{{ form.instance.img }}" alt="Image of House" class="card-img-top cover"/>
                     </div>
                    <hr>
                      <div class="card-body">
                      {% render_field form.description placeholder=form.description.label class="form-control" style="height: 90px;" %}
                        <button style="margin-top: 5px; color: grey" type="submit" name="submit_desc" class="btn btn-default">Save</button>
                      </div>
                  </div>
                  </form>
                </div>

              </div>
          {% endfor %}
        </div><br><hr><br>
    </div>
</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
</html>