{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/FormStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
  
  <title>Property Information</title>
</head>
<header>
  <div class="container">
    <br>
    <nav class="navbar navbar-default">
      <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
      <div class="dropdown">
        <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
          <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
        </button>
        <ul class="dropdown-menu" aria-labelledby="account-management">
          <li>
            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
              <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
            </a>
          </li>
          <li>
            <a href="/welcome" class="btn btn-default btn-block text-left">
              <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body class="bg-light">
    <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
      Open Navigation Menu
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Appraisal Pages</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../amenities">Amenities</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../basement">Basement</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../comments">Comments</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">Foundation</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">General</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../description-improvements/{{ house_id }}">Improvements</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../kitchen">Kitchen</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../materials-conditions/{{ house_id }}">Materials and Conditions</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../neighborhood/{{ house_id }}">Neighborhood</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../offsite-information">Offsite Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../property-information/{{ house_id }}">Property Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">Rooms</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../site/{{ house_id }}">Site Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../utilities/{{ house_id }}">Utilities</a>
              </div>
              <div class="form-group col-md-4">

              </div>
            </div>
            &nbsp
          </div>
        </div>
      </div>
    </div>

  <h2 class="form-header webappraisal-header">Property Information</h2>
  <hr>
        <form method="POST">
            {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_current_owner">Current Owner</label><br>
                {% render_field form.current_owner placeholder=form.current_owner.label class="form-control" %}
            </div>
            <div class="form-group col-md-6">
                <label for="id_borrower">Borrower</label><br>
                {% render_field form.borrower placeholder=form.borrower.label class="form-control"%}
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="id_occupant">Occupant</label>
          {% render_field form.occupant placeholder=form.occupant.label class="form-control"%}
          </div>
          <div class="form-group col-md-3">
            <label for="id_sale_price">Sale Price</label>
            {% render_field form.sale_price placeholder="$" class="form-control"%}
          </div>
          <div class="form-group col-md-6">
            <label for="id_date_of_sale">Date of Sale</label>
            <div class="input-group date" data-provide="datepicker">
              {% render_field form.date_of_sale placeholder=form.date_of_sale.label class="form-control" type="text"%}
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="id_tax_year">Tax Year</label>
              {% render_field form.tax_year placeholder=form.tax_year.label class="form-control"%}
          </div>
          <div class="form-group col-md-3">
            <label for="id_re_taxes">Real Estate Taxes</label>
            {% render_field form.re_taxes placeholder="$" class="form-control" type="number" placeholder="$"%}
          </div>
          <div class="form-group col-md-3">
            <label for="id_hoa_price">Homeowners Association Fees</label>
            {% render_field form.hoa_price placeholder="$" class="form-control" type="number"%}
          </div>
          <div class="form-group col-md-3">
            <label for="id_prop_rights_appraised">Property Rights Appraised</label>
            {% render_field form.prop_rights_appraised placeholder=form.prop_rights_appraised.label class="form-control"%}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="project_type">Project Type</label>
            {% render_field form.project_type placeholder=form.project_type.label class="form-control"%}
          </div>
          <div class="form-group col-md-4">
            <label for="id_map_ref">Map Reference Number</label>
            {% render_field form.map_ref placeholder=form.map_ref.label class="form-control" type="text"%}
          </div>
          <div class="form-group col-md-4">
            <label for="id_census_tract">Census Tract</label>
            {% render_field form.census_tract placeholder=form.census_tract.label class="form-control" type="text"%}
          </div>
        </div>

        <div class="form-row">
          <div class="text-center">
              <div class="form-group col-md-12">
                <h2>Photos</h1>
                <hr>
              </div>
              <img class="rounded" width="200px" height="200px" src="https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png"</img>
              <img class="rounded" width="200px" height="200px" src="https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png"</img>
              <img class="rounded" width="200px" height="200px" src="https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png"</img>
              <img class="rounded" width="200px" height="200px" src="https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png"</img>
              <br>
              <hr>
              <br>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-floating col-md-12 additional-comments">
            <label for="comments">Additional Comments</label>
            {% render_field form.comments placeholder=form.comments.label class="form-control" type="text"%}
          </div>
        </div>

        <br><br><hr>
        <button class="btn btn-primary btn-md form-submit-btn" name="submit_prop_info" type="submit">Save changes</button><br><br>
    </form>
    </div>

</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>

</html>