{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">#}
    <link rel="stylesheet" href="../../static/css/FormStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Rooms</title>
</head>
<header>
    <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" style="background-color: transparent; border: none" id="account-management" data-toggle="dropdown">
                    <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="/static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="btn btn-default btn-block text-left">
                                <img src="/static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>

<body class="bg-light">
 <div class="container">


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
      <span class="glyphicon glyphicon-th"></span> Navigate
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="exampleModalLabel">Select a Page</h3>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="width: 33%"></th>
                  <th style="width: 33%"></th>
                  <th style="width: 33%"></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../amenities/{{ house_id }}" class="btn btn-primary">Amenities</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../basement/{{ house_id }}" class="btn btn-primary">Basement</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../comparables/" class="btn btn-primary">Comparables</a></td>
                  </tr>

                  <tr>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../foundation/{{ house_id }}" class="btn btn-primary">Foundation</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../general/{{ house_id }}" class="btn btn-primary">General</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../description-improvements/{{ house_id }}" class="btn btn-primary">Improvements</a></td>
                  </tr>

                  <tr>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../kitchen/{{ house_id }}" class="btn btn-primary">Kitchen</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../materials-conditions/{{ house_id }}" class="btn btn-primary">Materials and Conditions</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../neighborhood/{{ house_id }}" class="btn btn-primary">Neighborhood</a></td>
                  </tr>

                  <tr>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../offsite-information/{{ house_id }}" class="btn btn-primary">Offsite Information</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../property-information/{{ house_id }}" class="btn btn-primary">Property Information</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../rooms/{{ house_id }}" class="btn btn-primary">Rooms</a></td>
                  </tr>

                  <tr>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../site/{{ house_id }}" class="btn btn-primary">Site Information</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../utilities/{{ house_id }}" class="btn btn-primary">Utilities</a></td>
                    <td><a style="width: 100%" class="btn btn-primary nav-button" href="../../appraisal/{{ house_id }}" class="btn btn-primary">Appraisal</a></td>
                  </tr>
              </tbody>
          </table>
              </div>
            </div>
            &nbsp
          </div>
        </div>

        <h1 class="form-header webappraisal-header">Rooms</h1>
        <hr>

        <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            <h3 style="padding-left: 12px"><span class="glyphicon glyphicon-home"></span>  House Summary</h3>
              <div class="form-group col-md-3">
                  <label for="id_num_bedrooms">Number of Bedrooms</label>
                  {% render_field form.num_bedrooms placeholder=form.num_bedrooms.label class="form-control capped-input" %}
              </div>
              <div class="form-group col-md-3">
                  <label for="id_num_bathrooms">Number of Bathrooms</label>
                  {% render_field form.num_bathrooms placeholder=form.num_bathrooms.label class="form-control capped-input"%}
              </div>

              <div class="form-group col-md-3">
                  <label for="id_num_floors">Number of Floors</label>
                  {% render_field form.num_floors placeholder=form.num_floors.label class="form-control capped-input"%}
              </div><br><br>
          </div>


        <div class="form-row">
          <div class="form-floating col-md-12 additional-comments">
            <label for="comments">General Comments</label>
            {% render_field form.comments placeholder=form.comments.label class="form-control capped-input"%}
          </div>
        </div>
        <br>
        <button class="btn btn-primary btn-md form-submit-btn" name="submit_rooms_summary" type="submit">Save changes</button><br><br><br>
        <hr><br>

        <a href="/rooms/{{ house_id }}/add" style="color: black" class="btn btn-default">
          <span class="glyphicon glyphicon-plus-sign" style="display: inline"></span><h7 style="font-family: Georgia, serif; font-size: 16px"> Add a room</h7>
        </a><br><br>

        {% for room in rooms %}
          <div class="panel panel-default" style="width: 75%">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" style="width: 30%">
                  <h3>{{ room.room_type | default_if_none:'Unnamed room'}}</h3>
                </th>
                <th scope="col" style="width: 70%">
                  <a href="/rooms/{{ house_id }}/{{ room.id }}/" style="color: black" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-edit" style="display: inline"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Floor Level</strong></td>
                <td>
                    {{ room.room_level | default_if_none:"None entered" }}
                </td>
              </tr>

              <tr>
                <td><strong>Area (sqft)</strong></td>
                <td>
                    {{ room.room_area | default_if_none:"None entered" }}
                </td>
              </tr>

              <tr>
                <td><strong>Additional Comments</strong></td>
                <td>
                    {{ room.room_comments | default_if_none:"" }}
                </td>
              </tr>
            </tbody>
          </table>
          </div><br>
        {% endfor %}

        </form>

       <hr><h2 class="form-header webappraisal-header">Photos</h2><hr>
          <div>
            <form method="POST" enctype="multipart/form-data" name="img_form" id="img_form" style="margin-left: 5px">
              {% csrf_token %}
              <div class="upload-photos" style="font-family: Georgia, serif; font-size: 120%; float: left;">
                <label id="img" class="btn btn-link" style="padding: 0; color: grey; text-decoration: none">
                  <span class="glyphicon glyphicon-cloud-upload" style="padding: 0; margin: 0; font-size: 160%"></span>
                  {{ new_img_form.img }}
                  <span style="color: black; font-size: 130%"> Upload Image</span></label>
              </div>
                <button type="submit" name="change_img" hidden></button>
            </form>
          </div>

            {% if is_mobile %}
              <div>
                  <form method="POST" enctype="multipart/form-data" name="img_form" id="img_form" style="margin-left: 5px">
                  {% csrf_token %}
                  <div class="upload-photos" style="font-family: Georgia, serif; font-size: 120%; padding-left: 5px">
                    <label id="img" class="btn btn-link" style="padding: 0; color: grey; text-decoration: none">
                          <span class="glyphicon glyphicon-camera" style="padding-left: 20px; padding-top: 0; margin: 0; font-size: 160%">     </span>
                      {{ mobile_img_form.img }}
                      <span style="color: black; font-size: 130%">Take a Picture</span></label>
                  </div>
                    <button type="submit" name="change_img" hidden></button>
                </form>
              </div>
            {% endif %}
          <br><br>

        <div class="row">
          {% for form in img_forms %}
              <div class="col-md-4">
                <div>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="img_id" id="id_img_id" value="{{ form.instance.id }}">
                    <div class="card appraisal-card"
                        style="width: 30rem; height: 40rem; background-color: white !important; border-radius: 5px !important; border: black 20px !important;">
                     <div class="img-container">
                      <img src="{{ MEDIA_URL }}{{ form.instance.img }}" alt="Image of House" class="card-img-top cover"/>
                     </div>
                    <hr>
                      <div class="card-body">
                      {% render_field form.description placeholder=form.description.label class="form-control capped-input" style="height: 90px;" %}
                        <button style="margin-top: 5px; color: grey" type="submit" name="submit_desc" class="btn btn-default">Save</button>
                      </div>
                  </div>
                  </form>
                </div>

              </div>
          {% endfor %}
        </div><br><hr><br>

    </div>
</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>
</html>