{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/FormStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
  <title>Utilities</title>
</head>
<header>
    <div class="container">
      <nav class="navbar navbar-default">
          <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                   <ul class="dropdown-menu" aria-labelledby="account-management">
                        <li>
                            <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                                <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
                            </a>
                        </li>
                        <li>
                            <a href="/welcome" class="btn btn-default btn-block text-left">
                                <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                            </a>
                        </li>
                   </ul>
            </div>
        </nav>
    </div>
</header>
<header>
    <div class="container">
        <nav class="navbar navbar-default">
            <a href="/home" class="navbar-brand webappraisal-header">WebAppraisal</a>
            <div class="dropdown">
                <button class="btn btn-default" type="button" id="account-management" data-toggle="dropdown">
                    <img src="../../static/img/hamburger.png" alt="Account Management" width="30" height="30">
                </button>
                <ul class="dropdown-menu" aria-labelledby="account-management">
                    <li>
                        <a href="/account-management" class="dropdown-text btn btn-default btn-block text-left">
                            <img src="../../static/img/person.svg" width="24" height="24" alt=""> User Settings
                        </a>
                    </li>
                    <li>
                        <a href="/welcome" class="btn btn-default btn-block text-left">
                            <img src="../../static/img/sign-out.svg" width="24" height="24" alt=""> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<body class="bg-light">

<div class="container">

    <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
      Open Navigation Menu
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Appraisal Pages</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../amenities">Amenities</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../basement">Basement</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../comments">Comments</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">Foundation</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">General</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../description-improvements/{{ house_id }}">Improvements</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../kitchen">Kitchen</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../materials-conditions/{{ house_id }}">Materials and Conditions</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../neighborhood/{{ house_id }}">Neighborhood</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../offsite-information">Offsite Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../property-information/{{ house_id }}">Property Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../general/{{ house_id }}">Rooms</a>
              </div>
            </div>

            <div class="form-row text-center">
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../site/{{ house_id }}">Site Information</a>
              </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../../utilities/{{ house_id }}">Utilities</a>
              </div>
              <div class="form-group col-md-4">

              </div>
            </div>
            &nbsp
          </div>
        </div>
      </div>
    </div>

        <h1 class="form-header webappraisal-header">Utilities</h1>
    <hr>
    
    <form method="POST">
      {% csrf_token %}

      <div class="form-row">
        
        <div class="form-group col-md-12">
          <label for="id_washer_dryer">Washer/Dryer</label>
          {% render_field form.washer_dryer placeholder=form.washer_dryer.label class="form-control" %}
        </div>
        
        <div class="form-group col-md-4">
          <label for="id_heat_type">Heat Type</label>
          {% render_field form.heat_type placeholder=form.heat_type.label class="form-control" %}
        </div>
        <div class="form-group col-md-4">
          <label for="id_heat_fuel">Heating Fuel</label>
          {% render_field form.heat_fuel placeholder=form.heat_fuel.label class="form-control" %}
        </div>

        <div class="form-group col-md-4">
          <label for="id_heat_condition">Heating Condition</label>
          {% render_field form.heat_condition placeholder=form.heat_condition.label class="form-control" %}
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id_cooling_type">Cooling Type</label>
          {% render_field form.cooling_type placeholder=form.cooling_type.label class="form-control" %}
        </div>
        <div class="form-group col-md-6">
          <label for="id_cooling_condition">Cooling Condition</label>
          {% render_field form.cooling_condition placeholder=form.cooling_condition.label class="form-control" %}
        </div>
      </div>
      
        <div class="form-floating col-md-12 additional-comments">
            <label for="comments">Additional Comments</label>
            {% render_field form.comments placeholder=form.comments.label class="form-control" type="text"%}
        </div>

      <br><br><hr>

        <button class="btn btn-primary btn-md form-submit-btn" name="submit_utilities_info" type="submit">Save changes</button>
      <br><br>
    </form>
  </div>

</body>

<body class="bg-dark flex-column">
  <footer id="webappr-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white" style="color: ghostwhite; font-family: Georgia, serif">Webappraisal</h1>
          <p class="lead text-white-50" style="color: ghostwhite">Making your job easier and your customers happier.</p>
        </div>
      </div>
      <small style="color: ghostwhite">Copyright &copy; Webappraisal</small>
    </div>
  </footer>
</body>

</html>